<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>Nuevo Artículo | ESU</title>
        <meta name="description" content="Nuevo Artículo"/>
        <meta name="author" content="J. David Mendoza"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="shortcut icon"                    href="../../../../static/img/favicon.ico" th:href="@{/static/img/favicon.ico}" type="image/x-icon" />
        <link rel="apple-touch-icon" sizes="144x144" href="../../../../static/img/apple-touch-icon-144x144.png" th:href="@{/static/img/apple-touch-icon-144x144.png}" />
        <link rel="apple-touch-icon" sizes="114x114" href="../../../../static/img/apple-touch-icon-114x114.png" th:href="@{/static/img/apple-touch-icon-114x114.png}" />
        <link rel="apple-touch-icon" sizes="72x72"   href="../../../../static/img/apple-touch-icon-72x72.png" th:href="@{/static/img/apple-touch-icon-72x72.png}" />
        <link rel="apple-touch-icon"                 href="../../../../static/img/apple-touch-icon.png" th:href="@{/static/img/apple-touch-icon.png}" />

        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="../../../../static/css/summernote.css" th:href="@{/static/css/summernote.css}" />
        <link rel="stylesheet" href="../../../../static/css/main.css" th:href="@{/static/css/main.css}" />

    </head>
    <body>

        <header class="navbar navbar-inverse navbar-fixed-top" role="banner" th:replace="/layouts/main :: navigation('admin')">
        </header>

        <div class="container">

            <div class="row">
                <div class="col-md-3" th:replace="/layouts/main :: sidebar('articulos')">
                </div>
                <div class="col-md-9">
                    <h1>Nuevo Artículo</h1>
                    <form action="#" th:action="@{'/admin/articulo/nuevo'}" method="POST" th:object="${articulo}">
                        <input type="hidden" th:field="*{id}" />
                        <input type="hidden" th:field="*{version}" />
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                            <h4>Error</h4>
                            <ul>
                                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Incorrect input</li>
                            </ul>
                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('titulo')}?'has-error'">
                            <label for="titulo">Título</label>
                            <input type="text" th:field="*{titulo}" id="titulo" class="form-control" autofocus="autofocus" />
                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('descripcion')}?'has-error'">
                            <label for="descripcion">Descripción</label>
                            <textarea th:field="*{descripcion}" id="descripcion" class="form-control" style="height: 100px;" ></textarea>
                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('contenido')}?'has-error'">
                            <label for="contenido">Contenido</label>
                            <textarea th:field="*{contenido}" id="contenido" class="form-control" style="height: 100px;" ></textarea>
                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('autor')}?'has-error'">
                            <label for="autorNombre">Autor</label>
                            <input type="text" th:value="*{autor.nombreCompleto}" id="autorNombre" name="autorNombre" class="form-control" />
                            <input type="hidden" th:field="*{autor.id}" id="autorId" />
                        </div>
                        <button type="submit" class="btn btn-primary"><span class="fa fa-floppy-o"></span> Crear</button>
                        <a href="#" th:href="@{'/admin/articulo'}" class="btn btn-default"><span class="fa fa-undo"></span> Cancelar</a>
                    </form>
                </div>
            </div>

        </div>

        <footer role="contentinfo" th:replace="/layouts/main :: footer">
        </footer>

        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="../../../../static/js/summernote.min.js" th:src="@{/static/js/summernote.min.js}"></script>
        <script src="../../../../static/js/main.js" th:src="@{/static/js/main.js}"></script>
        <script th:inline="javascript">
            /*<![CDATA[*/
            var autoresUrl = /*[[@{/admin/articulo/autores}]]*/ '/admin/articulo/autores';
            $(document).ready(function() {
                $('#contenido').summernote();
                
                $('input#autorNombre').autocomplete({
                    source: autoresUrl,
                    focus: function (event, ui) {
                        $('input#autorId').val(ui.item.value);
                        $(this).val(ui.item.label);
                        return false;
                    },
                    select: function (event, ui) {
                        $('input#autorId').val(ui.item.value);
                        $(this).val(ui.item.label);

                        return false;
                    }
                });

            });
            /*]]>*/
        </script>

        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-19803340-3', 'auto');
            ga('send', 'pageview');

        </script>
    </body>
</html>