<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:include="/layouts/main :: head('Ver Artículo', 'Ver Artículo')">
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>Inicio</title>
        <meta name="description" content=""/>
        <meta name="author" content="J. David Mendoza"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="shortcut icon"                    href="../../../../static/img/favicon.ico" th:href="@{/static/img/favicon.ico}" type="image/x-icon" />
        <link rel="apple-touch-icon" sizes="144x144" href="../../../../static/img/apple-touch-icon-144x144.png" th:href="@{/static/img/apple-touch-icon-144x144.png}" />
        <link rel="apple-touch-icon" sizes="114x114" href="../../../../static/img/apple-touch-icon-114x114.png" th:href="@{/static/img/apple-touch-icon-114x114.png}" />
        <link rel="apple-touch-icon" sizes="72x72"   href="../../../../static/img/apple-touch-icon-72x72.png" th:href="@{/static/img/apple-touch-icon-72x72.png}" />
        <link rel="apple-touch-icon"                 href="../../../../static/img/apple-touch-icon.png" th:href="@{/static/img/apple-touch-icon.png}" />

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="../../../../static/css/main.css" th:href="@{/static/css/main.css}" />

    </head>
    <body>

        <header class="navbar navbar-inverse navbar-fixed-top" role="banner" th:replace="/layouts/main :: navigation('admin')">
        </header>

        <div class="container">

            <div class="row">
                <div class="col-md-3" th:replace="/layouts/main :: sidebar('articulos')">
                </div>
                <div class="col-md-9">
                    <h4>Título</h4>
                    <h2 th:text="${articulo.titulo}">Titulo</h2>
                    <hr/>
                    <h4>Descripción</h4>
                    <div th:utext="${articulo.descripcion}">Descripcion</div>
                    <hr/>
                    <h4>Contenido</h4>
                    <div th:utext="${articulo.contenido}" class="leccion">Contenido</div>
                    <hr/>
                    <h4>Autor</h4>
                    <h2 th:text="${articulo.autor.nombreCompleto}">Titulo</h2>
                    <h4>Creado</h4>
                    <h2 th:text="${articulo.dateCreated}">Titulo</h2>
                    <h4>Modificado</h4>
                    <h2 th:text="${articulo.lastUpdated}">Titulo</h2>
                    <h4>Vistas</h4>
                    <h2 th:text="${articulo.vistas}">Titulo</h2>
                    <h4>Publicaciones</h4>
                    <ul>
                        <li th:each="publicacion : ${articulo.publicaciones}"><th:block th:text="${publicacion.nombre}">Publicacion</th:block> <a href="#" th:href="@{'/admin/articulo/publicacion/elimina/'+${publicacion.id}}" class="btn btn-danger"><span class="fa fa-remove"></span> Eliminar</a></li>
                    </ul>
                    <a href="#" th:href="@{'/admin/articulo'}" class="btn btn-default"><span class="fa fa-undo"></span> Regresar</a>
                    <a href="#" th:href="@{'/admin/articulo/editar/'+${articulo.id}}" class="btn btn-primary"><span class="fa fa-edit"></span> Editar</a>
                    <a href="#" th:href="@{'/admin/articulo/eliminar/'+${articulo.id}}" class="btn btn-danger" onclick="return confirm('¿Está seguro que desea eliminar este artículo?');"><span class="fa fa-trash-o"></span> Eliminar</a>
                    <a href="#" th:href="@{'/admin/articulo/publicacion/'+${articulo.id}}" class="btn btn-success"><span class="fa fa-plus"></span> Nueva Publicación</a>
                </div>
            </div>


        </div>

        <footer role="contentinfo" th:replace="/layouts/main :: footer">
        </footer>

        <div class="modal fade" id="bibliaModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body" >
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <div id="bibliaContenido">
                            <p>One fine body&hellip;</p>
                        </div>
                    </div>
                    <div class="modal-footer leccion">
                        <a href="#" class="btn btn-primary pull-left" id="anteriorBtn">Anterior</a>
                        <a href="#" class="btn btn-primary" id="siguienteBtn">Siguiente</a>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        
        <div th:replace="/layouts/main :: scripts" th:remove="tag">
            <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
            <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
            <script src="../../../../static/js/main.js" th:src="@{/static/js/main.js}"></script>
        </div>
        <script th:inline="javascript">
                        /*<![CDATA[*/
                        var bibliaUrl = /*[[@{/biblia}]]*/ '/biblia';
                        var date = /*[[${#dates.format(estudia.hoy, 'dd/MM/yyyy')}]]*/ '';

                        $(function () {
                            $(".leccion a").click(function (e) {
                                e.preventDefault();

                                var link = $(this).attr('href');

                                $.getJSON(link, function (data) {
                                    $("#bibliaContenido").html(data.contenido);
                                    if (data.anterior !== null) {
                                        $("#anteriorBtn").show();
                                        $("#anteriorBtn").prop("href", bibliaUrl + data.anterior);
                                    } else {
                                        $("#anteriorBtn").hide();
                                    }
                                    if (data.siguiente !== null) {
                                        $("#siguienteBtn").show();
                                        $("#siguienteBtn").prop("href", bibliaUrl + data.siguiente);
                                    } else {
                                        $("#siguienteBtn").hide();
                                    }
                                    $("#bibliaModal").modal();
                                });
                            });

                        });

                        /*]]>*/
        </script>

    </body>
</html>