<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:include='layouts/main :: head(#{comparte.tema(${tema.articulo.titulo})}, ${tema.articulo.descripcion})'>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>Inicio</title>
        <meta name="description" content=""/>
        <meta name="author" content="J. David Mendoza"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="shortcut icon"                    href="../../../static/img/favicon.ico" th:href="@{/static/img/favicon.ico}" type="image/x-icon" />
        <link rel="apple-touch-icon" sizes="144x144" href="../../../static/img/apple-touch-icon-144x144.png" th:href="@{/static/img/apple-touch-icon-144x144.png}" />
        <link rel="apple-touch-icon" sizes="114x114" href="../../../static/img/apple-touch-icon-114x114.png" th:href="@{/static/img/apple-touch-icon-114x114.png}" />
        <link rel="apple-touch-icon" sizes="72x72"   href="../../../static/img/apple-touch-icon-72x72.png" th:href="@{/static/img/apple-touch-icon-72x72.png}" />
        <link rel="apple-touch-icon"                 href="../../../static/img/apple-touch-icon.png" th:href="@{/static/img/apple-touch-icon.png}" />

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="../../../static/css/main.css" th:href="@{/static/css/main.css}" />

    </head>
    <body>

        <header class="navbar navbar-inverse navbar-fixed-top" role="banner" th:replace="layouts/main :: navigation('comparte')">
        </header>

        <div class="container">

            <div class="row" id="searchDiv" th:replace="layouts/main :: searchDiv">

            </div>

            <div class="row">
                <div class="col-md-8">
                    <h1 th:utext="${tema.articulo.titulo}">Titulo Leccion</h1>
                    <h3><th:block th:text="#{por}">Por</th:block> <th:block th:text="${tema.articulo.autor.nombreCompleto}">Autor</th:block></h3>
                    <th:block th:utext="${tema.articulo.contenido}">Texto de la leccion</th:block>
                    <p><th:block th:text="#{visitas(${tema.articulo.vistas})}">0 Visitas</th:block> <span class="fa fa-eye"></span></p>
                    
                    <div class="addthis_sharing_toolbox"></div>
                    <div class="addthis_recommended_horizontal"></div>

                    <div th:if="${perfil != null}">
                        <h3>Acerca del Autor</h3>
                        <a href="#" th:href="@{'/perfil/'+${perfil.id}}"><img src="#" th:src="@{'/perfil/imagen/'+${perfil.id}}" alt="#" th:alt="${tema.articulo.autor.nombreCompleto}" style="float:left;width: 200px;" /></a>
                        <a href="#" th:href="@{'/perfil/'+${perfil.id}}"><h2 th:text="${tema.articulo.autor.nombreCompleto}">Nombre</h2></a>
                        <p th:text="${perfil.texto}">Descripcion</p>
                        <a href="#" th:href="@{'/perfil/'+${perfil.id}}">Artículos de <th:block th:text="${tema.articulo.autor.nombreCompleto}">Autor</th:block></a>
                    </div>
                    <div id="disqus_thread"></div>
                    <script type="text/javascript" th:inline="javascript">
                        /*<![CDATA[*/
                        var publicacionId = /*[[${tema.articulo.id}]]*/ 1;
                        var title = /*[[${tema.articulo.titulo}]]*/ 'titulo';

                        /* * * CONFIGURATION VARIABLES * * */
                        var disqus_shortname = 'esuniversitaria';
                        var disqus_identifier = publicacionId;
                        var disqus_title = title;

                        /* * * DON'T EDIT BELOW THIS LINE * * */
                        (function () {
                            var dsq = document.createElement('script');
                            dsq.type = 'text/javascript';
                            dsq.async = true;
                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                        /*]]>*/
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    <a href="http://disqus.com" class="dsq-brlink">comments powered by <div class="logo-disqus">Disqus</div></a>
                </div>
                <div class="col-md-4">
                    <a href="#" th:href="@{${comparte.hoyLiga}}" th:unless="${comparte.esHoy}" class="btn btn-primary btn-lg btn-block btn-cta">Lección de Hoy</a>
                    <th:block th:if="${comparte.publicacion != null}">
                        <h2><a href="#" th:href="@{'/estudia/'+${comparte.anio}+'/'+${comparte.trimestre}+'/'+${comparte.leccion}+'/'+${comparte.dia}}" th:utext="${comparte.publicacion.articulo.titulo}">Leccion</a></h2>
                        <h4 th:text="${comparte.hoyString}">Domingo 20/Jul/2014</h4>
                        <p><th:block th:utext="${comparte.publicacion.articulo.descripcion}">Descripcion</th:block></p>
                        <p><a href="#" th:href="@{'/estudia/'+${comparte.anio}+'/'+${comparte.trimestre}+'/'+${comparte.leccion}+'/'+${comparte.tema}}" th:text="#{leer.mas}" class="btn btn-primary btn-lg btn-block btn-cta">Leer mas...</a></p>
                    </th:block>

                    <th:block th:each="publicacion : ${comparte.articulos}">
                        <th:block th:if="${publicacion.tipo == 'dialoga'}">
                            <h2><a href="#" th:href="@{'/profundiza/'+${publicacion.anio}+'/'+${publicacion.trimestre}+'/'+${publicacion.leccion}+'/'+${publicacion.tema}}" th:utext="${publicacion.articulo.titulo}">Dialoga</a></h2>
                            <h4><th:block th:text="#{por}">Por</th:block> <th:block th:text="${publicacion.articulo.autor.nombreCompleto}">Autor</th:block></h4>
                            <p><th:block th:utext="${publicacion.articulo.descripcion}">Descripcion</th:block></p>
                            <p><a href="#" th:href="@{'/profundiza/'+${publicacion.anio}+'/'+${publicacion.trimestre}+'/'+${publicacion.leccion}+'/'+${publicacion.tema}}" th:text="#{leer.mas}" class="btn btn-primary btn-lg btn-block btn-cta">Leer mas...</a></p>
                        </th:block>
                        <th:block th:if="${publicacion.tipo == 'comunica'}">
                            <h2><a href="#" th:href="@{'/comparte/'+${publicacion.anio}+'/'+${publicacion.trimestre}+'/'+${publicacion.leccion}+'/'+${publicacion.tema}}" th:utext="${publicacion.articulo.titulo}">Comunica</a></h2>
                            <h4><th:block th:text="#{por}">Por</th:block> <th:block th:text="${publicacion.articulo.autor.nombreCompleto}">Autor</th:block></h4>
                            <p><th:block th:utext="${publicacion.articulo.descripcion}">Descripcion</th:block></p>
                            <p><a href="#" th:href="@{'/comparte/'+${publicacion.anio}+'/'+${publicacion.trimestre}+'/'+${publicacion.leccion}+'/'+${publicacion.tema}}" th:text="#{leer.mas}" class="btn btn-primary btn-lg btn-block btn-cta">Leer mas...</a></p>
                        </th:block>
                        <th:block th:if="${publicacion.tipo == 'leccion'}">
                            <h2><a href="#" th:href="@{'/estudia/'+${publicacion.anio}+'/'+${publicacion.trimestre}+'/'+${publicacion.leccion}+'/'+${publicacion.dia}}" th:utext="${publicacion.articulo.titulo}">Leccion</a></h2>
                            <p><th:block th:utext="${publicacion.articulo.descripcion}">Descripcion</th:block></p>
                            <p><a href="#" th:href="@{'/estudia/'+${publicacion.anio}+'/'+${publicacion.trimestre}+'/'+${publicacion.leccion}+'/'+${publicacion.dia}}" th:text="#{leer.mas}" class="btn btn-primary btn-lg btn-block btn-cta">Leer mas...</a></p>
                        </th:block>
                    </th:block>

                </div>
            </div>

        </div>

        <footer role="contentinfo" th:replace="layouts/main :: footer">
        </footer>

        <div th:replace="layouts/main :: scripts" th:remove="tag">
            <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
            <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
            <script src="../../../static/js/main.js" th:src="@{/static/js/main.js}"></script>
        </div>
    </body>
</html>