/*
The MIT License

Copyright 2015 J. David Mendoza <jdmendozar@gmail.com>.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
*/
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
body {
  padding-top: 160px;
  font: 16px/1.625em 'Ubuntu',Tahoma,sans-serif;
  font-size-adjust: none;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
  body .well {
    background-image: -webkit-linear-gradient(top, #eadfcb 0, #f9f5ef 100%);
    background-image: -o-linear-gradient(top, #eadfcb 0, #f9f5ef 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eadfcb), to(#f9f5ef));
    background-image: linear-gradient(to bottom, #eadfcb 0, #f9f5ef 100%);
    border-color: #e3d4b9; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Ubuntu',Tahoma,sans-serif; }

.navbar {
  padding: 0;
  background: #fff;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1); }
  @media (min-width: 768px) and (max-width: 991px) {
    .navbar .nav li {
      font-size: 0.9em; } }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #eadfcb; }

.navbar-default .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #eadfcb 0, #f9f5ef 100%);
  background-image: -o-linear-gradient(top, #eadfcb 0, #f9f5ef 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eadfcb), to(#f9f5ef));
  background-image: linear-gradient(to bottom, #eadfcb 0, #f9f5ef 100%); }

.navbar-form {
  padding: 0; }

.esu-sidenav {
  margin-top: 5px;
  padding: 0;
  text-shadow: 0 1px 0 #fff;
  background-color: #f9f5ef;
  border-radius: 5px; }

.esu-sidenav > li.nav-header {
  padding: 20px; }

.esu-sidenav > li > a {
  color: #808080; }

.esu-sidenav > li.active > a, .esu-sidenav > li.active:hover > a, .esu-sidenav > li.active:focus > a {
  font-weight: bold;
  color: #808080;
  background-color: #f1eadd;
  border-right: 1px solid #808080; }

.esu-sidenav > li > a:focus, .esu-sidenav > li > a:hover {
  text-decoration: none;
  background-color: #f1eadd; }

.footer {
  margin-top: 20px;
  padding: 20px 0;
  background-color: #f1eadd;
  color: #777; }

.navbar .nav > li > a {
  border-right: 0;
  border-left: 0; }

a.navbar-brand {
  float: none;
  padding: 0;
  margin: 0; }

.navbar-collapse {
  padding: 0; }

.versiculo {
  margin: 20px 0 0 0; }
  .versiculo p {
    font-size: 1.2em;
    font-weight: bold; }

.fb-comments span {
  width: 100% !important; }

.fb-comments iframe {
  width: 100% !important; }

.leftfooter {
  text-align: left; }

.centerfooter {
  text-align: center; }

.rightfooter {
  text-align: right; }

#anuncio {
  height: 100px; }

/* Desktop large
------------------------- */
/* Desktop
------------------------- */
/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 991px) {
  .navbar .brand {
    font-size: 2em; } }
@media (min-width: 768px) {
  #searchDiv {
    display: none; }

  #mainLogo {
    margin: 0; }

  #mainMenu {
    padding-top: 5px; } }
/* Tablet
------------------------- */
@media (max-width: 767px) {
  body {
    padding-top: 120px; }

  .navbar {
    padding: 0 5px; }

  .navbar .brand {
    font-size: 1.5em; }

  .navbar-header {
    float: right; }

  .navbar-form .form-group {
    padding: 0 15px; }

  .navbar-toggle {
    margin-top: 30px; }

  .leftfooter {
    text-align: center; }

  .rightfooter {
    text-align: center; }

  #anuncio {
    display: none; }

  #buscarForm {
    display: none; }

  #searchDiv {
    margin-bottom: 15px; } }
/* Landscape phones
------------------------- */
@media (max-width: 480px) {
  .navbar-brand > img {
    width: 75%; }

  .navbar-toggle {
    margin-top: 15px; }

  .navbar .brand {
    font-size: 1.5em; }

  .leftfooter {
    text-align: center; }

  .rightfooter {
    text-align: center; }

  #mainLogo img {
    width: 75%; } }

/*# sourceMappingURL=main.css.map */
