<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:include="/layouts/main :: head('Nuevo Usuario', 'Nuevo Usuario')">
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>Nuevo Usuario | ESU</title>
        <meta name="description" content=""/>
        <meta name="author" content="J. David Mendoza"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="shortcut icon"                    href="../../../../static/img/favicon.ico" th:href="@{/static/img/favicon.ico}" type="image/x-icon" />
        <link rel="apple-touch-icon" sizes="144x144" href="../../../../static/img/apple-touch-icon-144x144.png" th:href="@{/static/img/apple-touch-icon-144x144.png}" />
        <link rel="apple-touch-icon" sizes="114x114" href="../../../../static/img/apple-touch-icon-114x114.png" th:href="@{/static/img/apple-touch-icon-114x114.png}" />
        <link rel="apple-touch-icon" sizes="72x72"   href="../../../../static/img/apple-touch-icon-72x72.png" th:href="@{/static/img/apple-touch-icon-72x72.png}" />
        <link rel="apple-touch-icon"                 href="../../../../static/img/apple-touch-icon.png" th:href="@{/static/img/apple-touch-icon.png}" />

        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="../../../../static/css/main.css" th:href="@{/static/css/main.css}" />

    </head>
    <body>

        <header class="navbar navbar-inverse navbar-fixed-top" role="banner" th:replace="/layouts/main :: navigation('admin')">
        </header>

        <div class="container">

            <div class="row">
                <div class="col-md-3" th:replace="/layouts/main :: sidebar('usuarios')">
                </div>
                <div class="col-md-9">
                    <h1>Nuevo Usuario</h1>
                    <form action="#" th:action="@{'/admin/usuario/nuevo'}" method="POST" th:object="${usuario}">
                        <input type="hidden" th:field="*{id}" />
                        <input type="hidden" th:field="*{version}" />
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                            <h4>Error</h4>
                            <ul>
                                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Incorrect input</li>
                            </ul>
                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('nombre')}?'has-error'">
                            <label for="nombre">Nombre</label>
                            <input type="text" th:field="*{nombre}" id="nombre" class="form-control" autofocus="autofocus" />
                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('apellido')}?'has-error'">
                            <label for="apellido">Apellido</label>
                            <input type="text" th:field="*{apellido}" id="apellido" class="form-control" />
                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('username')}?'has-error'">
                            <label for="username">Usuario</label>
                            <input type="text" th:field="*{username}" id="username" class="form-control" />
                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('password')}?'has-error'">
                            <label for="password">Contraseña</label>
                            <input type="password" th:field="*{password}" id="password" class="form-control" />
                        </div>
                        <div class="checkbox" th:classappend="${#fields.hasErrors('roles')}?'has-error'">
                            <label>
                                <input type="checkbox" th:field="*{admin}" id="admin" />
                                ADMIN
                            </label><br/>
                            <label>
                                <input type="checkbox" th:field="*{editor}" id="editor" />
                                EDITOR
                            </label><br/>
                            <label>
                                <input type="checkbox" th:field="*{autor}" id="autor" />
                                AUTOR
                            </label><br/>
                            <label>
                                <input type="checkbox" th:field="*{user}" id="usuario" />
                                USUARIO
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg"><span class="fa fa-floppy-o"></span> Crear</button>
                        <a href="#" th:href="@{'/admin/usuario'}" class="btn btn-default btn-lg"><span class="fa fa-undo"></span> Cancelar</a>
                    </form>
                </div>
            </div>

        </div>

        <footer role="contentinfo" th:replace="/layouts/main :: footer">
        </footer>

        <div th:replace="/layouts/main :: scripts" th:remove="tag">
            <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
            <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
            <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
            <script src="../../../../static/js/main.js" th:src="@{/static/js/main.js}"></script>
        </div>
    </body>
</html>