<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:include="layouts/main :: head('Ver Trimestre', 'Ver Trimestre')">
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>Inicio</title>
        <meta name="description" content=""/>
        <meta name="author" content="J. David Mendoza"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="shortcut icon"                    href="../../../../static/img/favicon.ico" th:href="@{/static/img/favicon.ico}" type="image/x-icon" />
        <link rel="apple-touch-icon" sizes="144x144" href="../../../../static/img/apple-touch-icon-144x144.png" th:href="@{/static/img/apple-touch-icon-144x144.png}" />
        <link rel="apple-touch-icon" sizes="114x114" href="../../../../static/img/apple-touch-icon-114x114.png" th:href="@{/static/img/apple-touch-icon-114x114.png}" />
        <link rel="apple-touch-icon" sizes="72x72"   href="../../../../static/img/apple-touch-icon-72x72.png" th:href="@{/static/img/apple-touch-icon-72x72.png}" />
        <link rel="apple-touch-icon"                 href="../../../../static/img/apple-touch-icon.png" th:href="@{/static/img/apple-touch-icon.png}" />

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="../../../../static/css/main.css" th:href="@{/static/css/main.css}" />

    </head>
    <body>

        <header class="navbar navbar-inverse navbar-fixed-top" role="banner" th:replace="layouts/main :: navigation('admin')">
        </header>

        <div class="container">

            <div class="row">
                <div class="col-md-3" th:replace="layouts/main :: sidebar('trimestres')">
                </div>
                <div class="col-md-9">
                    <h4>Nombre</h4>
                    <h2 th:text="${trimestre.nombre}">Nombre</h2>
                    <hr/>
                    <h4>Inicia</h4>
                    <h2 th:text="${trimestre.inicia}">Inicia</h2>
                    <h4>Termina</h4>
                    <h2 th:text="${trimestre.termina}">Termina</h2>
                    <h4>Publicado</h4>
                    <h2 th:text="${trimestre.publicado}">Publicado</h2>
                    <a href="#" th:href="@{'/admin/trimestre'}" class="btn btn-default"><span class="fa fa-undo"></span> Regresar</a>
                    <a href="#" th:href="@{'/admin/trimestre/editar/'+${trimestre.id}}" class="btn btn-primary"><span class="fa fa-edit"></span> Editar</a>
                    <a href="#" th:href="@{'/admin/trimestre/eliminar/'+${trimestre.id}}" class="btn btn-danger" onclick="return confirm('¿Está seguro que desea eliminar este trimestre?');"><span class="fa fa-trash-o"></span> Eliminar</a>
                </div>
            </div>

        </div>

        <footer role="contentinfo" th:replace="layouts/main :: footer">
        </footer>

        <div th:replace="layouts/main :: scripts" th:remove="tag">
            <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
            <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
            <script src="../../../../static/js/main.js" th:src="@{/static/js/main.js}"></script>
        </div>

    </body>
</html>